.burger {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 40;
  cursor: pointer;
  $root: &;

  &__menu {
    display: block;
    width: 100%;
    height: 4px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -5px;
      width: 32px;
      height: 4px;
      transform: translate(-50%, 0);
      background-color: $color-black;
      transition: background-color $transition-300, top $transition-300 0.3s, transform $transition-300;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 5px;
      width: 32px;
      height: 4px;
      transform: translate(-50%, 0);
      background-color: $color-black;
      transition: background-color $transition-300, top $transition-300 0.3s, transform $transition-300;
    }
  }

  &--opened {
    .burger__menu::after {
      background-color: $color-white;
      top: 0;
      transform: translate(-50%, 0) rotate(45deg);
      transition: background-color $transition-300, top $transition-300, transform $transition-300 0.3s;
    }

    .burger__menu::before {
      background-color: $color-white;
      top: 0;
      transform: translate(-50%, 0) rotate(-45deg);
      transition: background-color $transition-300, top $transition-300, transform $transition-300 0.3s;
    }
  }
}
